<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955851912111-27rnu4ue5ff2fbkuoei9seiufc25dgdk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955851912111-27rnu4ue5ff2fbkuoei9seiufc25dgdk</string>
	<key>API_KEY</key>
	<string>AIzaSyAe1fFEWPRLmGVd0MMYF_jGVcct8pZryGE</string>
	<key>GCM_SENDER_ID</key>
	<string>955851912111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.remphil.visitorRegister</string>
	<key>PROJECT_ID</key>
	<string>digitalvisitorregister</string>
	<key>STORAGE_BUCKET</key>
	<string>digitalvisitorregister.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955851912111:ios:7bb8eb68079381cd</string>
	<key>DATABASE_URL</key>
	<string>https://digitalvisitorregister.firebaseio.com</string>
</dict>
</plist>